<!-- <p>home works!</p>
<a routerLink="/detail/1" >Chi tiet1</a><br>
<a routerLink="/detail/2" >Chi tiet 2</a><br>
<a routerLink="/detail/3" >Chi tiet 3</a><br>
<a routerLink="/detail/4" >Chi tiet 4</a><br> -->
<div class="row">
    <div class="col-12">
        <a routerLink="/addproduct/{{category.id}}" class="btn btn-success">Thêm sản phẩm</a>&nbsp;
        <a routerLink="/" class="btn btn-warning">Trang chủ</a>
    </div>
  
    <!-- <div class="col-3" *ngFor="let p of pros">
        <div>
            <img [src]="p.image" class="img-thumbnail" width="150">
        </div>
        <h5>
            <p>{{category.name}}</p>
            <a href="#" title="">{{p.product_name}}</a>
        </h5>
        <div>
            <a routerLink="category/editcate/{{cate.id}}" class="btn btn-info">Sua</a>&nbsp;
            
            <button type="button" class="btn btn-danger" (click) = "removeCategory(cate)">Xoa</button>
        </div>
    </div>  -->
</div>
<br>
<h5><p>Tên danh mục: {{category.name}}</p></h5>

<div class="container">
   <div class="row">
       <div class="col-3" *ngFor="let p of pros">
            <div class="card">
                <img class="card-img-top img-thumbnail" [src]="p.image" width="150">
                <div class="card-body">
                <h5 class="card-title">Tên sản phẩm: {{p.product_name}}</h5>
                <p class="card-text text-danger">Giá : {{p.price}} VNĐ</p>
                <p class="card-text"><small>Chi tiết: {{p.detail}}</small></p>
                <p class="card-text">Số lượng: {{p.amount}} &nbsp; <br> Trạng thái: {{p.status == 'true' ? 'Active' : 'Inactive'}}</p>
                <a routerLink="editproduct/{{p.id}}" class="btn btn-danger btn-sm">Sửa</a>&nbsp; &nbsp;
                <button type="button" class="btn btn-dark btn-sm" (click) = "removeProduct(p.id)">Xóa</button>
            </div>
       </div>
   </div>
</div>

