<!-- <p>home works!</p>
<a routerLink="/detail/1" >Chi tiet1</a><br>
<a routerLink="/detail/2" >Chi tiet 2</a><br>
<a routerLink="/detail/3" >Chi tiet 3</a><br>
<a routerLink="/detail/4" >Chi tiet 4</a><br> -->
<div class="row">
    <div class="col-12">
        <a routerLink="/category/add" class="btn btn-success">Thêm mới dữ liệu</a>
    </div>
</div>

<br><br>
<div class="container">
    <div class="row">
        <div class="col-4" *ngFor="let cate of categories">
                <div class="card" style="width: 16rem;">
                    <img class="card-img-top" [src]="cate.image" width="150">
                    <h6>Chủ sở hữu</h6>
                    <img class="card-img-top" [src]="cate.owner_image" class="img-thumbnail" width="100">
                    
                    <div class="card-body">
                        <h5 class="card-title">Khách sạn: {{cate.name}}</h5>
                        <p class="card-text">Địa chỉ: {{cate.address}}</p>
                        <p>Thành phố: {{cate.city}}</p>
                        <div>
                            <a routerLink="category/edit/{{cate.id}}" class="btn btn-info">Sửa</a>&nbsp;
                                
                            <button type="button" class="btn btn-danger" (click) = "removeCategory(cate)">Xóa</button>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</div>


